body {
  margin: 0 auto;
}

header {
  width: 100%;
  height: 242px;
}

#action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #adadad;

}

.expobar {
  padding: 10px 0px;   
  text-align: center;
  background-color:  rgb(166, 19, 128);
}

.expobar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

#action-bar a {
   color: white;
   text-decoration: none; 
}

#action-bar ul {
  list-style: none;
}
.nav-bar-margin-left {
  margin-left: 20px;
}

.slogan {
  color: white;
}

.meny-action-nav{
   display: flex;
   flex-direction: row;  
}

.meny-action-social-media {
  display: flex;
  flex-direction: row;
}

/* Patric */
.top-content {
  width: 100%;
  height: 4000px;
  background-color: red;
}

.hbg-by-night-img {
  border-bottom: 25px solid #0095db;
}

.smartcity-headline {
  margin-top: -170px;
  background-color: white;
}

/* Patric end */

/*   kristoffer  */
.kristiffer {
    display:block;
    position: relative;
}

.bottom-content-bg {
    position: relative;
    margin: 0 auto;
    height: auto;
    background-color: #e2e2e2;
    overflow: hidden;
    display: block;
}

.bottom-content {
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: auto;
    overflow: hidden;
    display: block;
}

.making-items{
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: auto;
    background-color: white;
    overflow: hidden;
    display: block;
}

.textstyle {
    text-align: left;
}

.textbox {
    width: 66%;
    color: #737373;
    font-family: inherit;
    font-size: 22px;
}

.nyttigt {
    color: #0095db;
    font-size: 35px;
}

strong {
    font-weight: 700;
}

.img-box {
    float: left;
}

.img-b {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
}

.pl-text-box {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.pl-text {
    color: #737373;
}

.pl-link {
    color: #0095db;
    text-decoration: 6px underline;
}

.b-box {
    font-size: 35px;
    line-height: 45px;
}

.line-top {
    border: 3px solid #0095db;
    width: 67px;
}
.line-top-grey {
    border: 3px solid #737373;
    width: 67px;
}

.line-bottom {
    border: 1px solid #0095db;
    width: 37px;
}

.youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    overflow: hidden;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.b-youtube{
    text-align: center;
}


/* kristoffer end */

footer {
  width: 100%;
  height: 400px;
  background-color: green;
}
