body{
    margin: 0 auto;
}

header {
    width: 100%;
    height: 242px;
    background-color: blue;
}

.top-content {
    width: 100%;
    height: 4000px;
    background-color: red;

}

/*   kristoffer  */
.bottom-content {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #e2e2e2;
    overflow:hidden;
    display: block;
}

.textstyle{
    text-align: left;
}
 .textbox{
     width: 66%;
     color: #737373;
     font-family: inherit;
     font-size: 22px;
 }

.nyttigt{
    color: #0095db;
    font-size: 35px;
}

strong{
    font-weight: 700;
}

.img-box{
float:left;
}

.img-b{
    border-radius: 50%;
    max-width: 200px;
    height: auto;
}

.pl-text-box{
box-sizing: border-box;
padding-left: 15px;
padding-right: 15px;
width: 100%;
}

.pl-text{
color: #737373;
}

.pl-link{
    color: #0095db;
    text-decoration: 6px underline;
}

.b-box{
    font-size: 35px;
    line-height: 45px;
}

.line-top{
    border: 3px solid #0095db;
    width: 67px;
}

.line-bottom{
    border: 1px solid #0095db;
    width: 37px;
}


/* kristoffer end */

footer {
    width: 100%;
    height: 400px;
    background-color: green;
}