img{
    float:right;
    border-radius: 50%;
    width: 550px;
    height: 550;

}
.ocean{
    color:#0095db;
    text-align: left;
    font-size: 27px;
    line-height: 37px;
    font-weight: 300;
    letter-spacing:  0 px;
}
p{ 
    font-size:large;

}
