section{
background-position:center;
background-size: cover;
background-repeat: no-repeat;
padding: 35px 119.2px 0px 119.6px;
}
.sec{


}
section::after {
    content: "";
    display: table;
    clear: both;
}
.images_wrap img {
    width: 100%;
    height: auto;
    display: block;
}
b{
    background-color:whitesmoke;
}
div {
    display:block;
  }
  .point_style {
    position: relative;
    z-index: 10;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    box-sizing: border-box;
    text-align: center;
}
div.gallery {
    margin: 0px;
    border: 1px solid #ccc;
    float: left;
    width: auto;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  .wpb_wrapper > div {
    margin-bottom: 35px;
}
.pins_animation.ihotspot_pulse {
    -moz-animation: Ani 2s infinite;
    -webkit-animation: Ani 2s infinite;
    animation: Ani 2s infinite;
}
.point_style img {
    position:calc(1316px,192px);
    top: 0;
    left: 0;
    width: 5px;%;
    max-width: inherit;
}
.NSR_VERAPARK {
    position: absolute;
    top: 22%;
    left: 68.5%;
    transform: translate(-50%, -50%);
    position: calc();
}
.container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}
.DROTTNINGÖG {
    position: absolute;
    top: 26.5%;
    left: 55.5%;
    transform: translate(-50%, -50%);
    position: calc();
}
.GRÖNINGEN {
    position: absolute;
    top: 36.5%;
    left: 47.1%;
    transform: translate(-50%, -50%);
    position: calc();
}
.SEAU {
        position: absolute;
        top: 43.5%;
        left: 47%;
        transform: translate(-50%, -50%);
        position: calc();
}
.VATTENTORNET {
    position: absolute;
    top: 40%;
    left: 63%;
    transform: translate(-50%, -50%);
    position: calc();
}
.STADPARKEN_SÖDER{
    position: absolute;
    top: 47.7%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    position: calc();
}
.OCEANHAMNEN {
    position: absolute;
    top: 53%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    position: calc();



    