section{
background-position:center;
background-size: cover;
background-repeat: no-repeat;
padding: 35px 119.2px 0px 119.6px;
}
.sec{


}
section::after {
    content: "";
    display: table;
    clear: both;
}
.images_wrap img {
    width: 100%;
    height: auto;
    display: block;
}
b{
    background-color:whitesmoke;
}
div {
    display:block;
  }
  .point_style {
    position: relative;
    z-index: 10;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    box-sizing: border-box;
    text-align: center;
}