* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header Start -------------------------------------*/
/* TOP ----------- */
#top {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    margin-left: 40%;
}
/* TOP NAV    -----
----------------- */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: rgb(173,173,173);
}
.flex-item:first-child {
    width: 800px;
}

.flex-container a {
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
}
.flex-container > div {
    margin: 5px;
    padding: 10px;
    color: white;
    font-family: Verdana;
}
.flex-container a:hover {
    text-decoration: underline;
}
#smal {
    font-family: Arial;
    font-size: small;
}
#div-2-border a {
    border-left:1px solid #bbb;
    padding: 5px;
}

/* HEADER  nav dropdown ---------
----------------------------*/
header {
    background: rgb(255, 255, 255);
    height: 140px;
    box-shadow: 0px 0px 12px 3px rgba(41,41,41,.25);
}
.fix-top {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    margin-top: 0;
    
}
/*--select language--*/
ul {
    list-style-type: none;
    overflow: hidden;
    margin-top: 0px;
    margin-right: 120px;
}
li {
    float: right;
    margin-top: 45px;
}

#language {
    margin-top: 10px;
    height: 30px;
    width: 50px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 3px;
}
/*--dropsdown--*/
li.dropdown {
    display: inline-block;
}
li a, .dropbtn {
    display: inline-block;
    text-decoration: none;
    color:grey;
    padding: 20px 20px;
}
li a:hover, .dropdown:hover .dropbtn {
    color: rgb(115,156,198);
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;

}
.dropdown-content a {
    display: block;
    text-decoration: none;
    text-align: left;
    color: rgb(115,156,198);
    font-size: 13px;
}
.dropdown-content a:hover {
    color: rgb(68, 128, 165);
    font-weight: bold;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#dropdown-content-list {
    left: 100%;
    width: 800px;
    height: 310px;
    padding-left: 0px;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* BIG IMAGE---------
----------------------------*/
.partners-img {
    background-image: url(partners2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 30px solid #0095EB;
    width: 100%;
    height: 475px;
    margin-top: 90px; 
}
.text-efter-img {
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: auto;
    margin: -100px 60px 0 60px; 
}
.text-efter-img h4 {
    font-family: Arial, Tahoma, sans-serif Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(8,149,219);
    font-size: 35px;
    padding-top: 100px;
    font-weight: 100;
    font-style: normal;

}
.text-efter-img p {
   color: rgb(120,127,132); 
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 50px;
   font-size: 25px;
   line-height: 40px;
   font-style: normal;
}
/* Header End -------------------------------------*/

/* Boxs Start -------------------------------------*/
/*--------Ece------*/
body {
    background-color: #ededed;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text--medium {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color:lightslategray;
  }
  
  .cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
  }
  
  .card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .card:hover {
    transform: translateY(-7px);
  }
  .card-image-container {
    width: 100%;
    height: auto;
    padding-top: 46%;
    overflow: hidden;
    position: relative;
  }
  
  .card-image-container img {
    display: flex;
    justify-content:center;
    align-items:center;
    color: whitesmoke;
    width: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }  
  
  .card-content {
    padding: 20px;
  }
  
  
  .card-title {
    margin-bottom: 20px;
  }
  
  .card-info {
    display: flex;
    align-self: end;
    align-items: center;
  }
/* Boxs End -------------------------------------*/

/* Footer Start -------------------------------------*/
/*--------Jasmeen ------*/
.section div{
    background-color: #4cb4e5;
    height: 300px;
    color: white;
    padding: 80px;
   
 }
 .col1{
     float: left;
 }
 .col1 h4{
     font-size: 18px;
     font-family: arial,tahoma,sans-serif;
     text-align: left;
     font-style: normal;
    font-weight: 300;
    line-height: 2;
    }
 .col1 p{
     font-weight:500;
     font-style: normal;
     text-align: left;
     font-size: 18px;
     font-family: arial,tahoma,sans-serif;
     line-height: 2;
    }
    input[type=text]{
        width:50%;
        padding: 10px;
        border: 1px solid #4cb4e5;
        font-size: 15px;
    }
    input[type=submit]{
        background-color: #ff0000;
        border: none;
        color: white;
        padding: 10px;
        font-size: 15px;
        margin-left: -5px;
    }
    .col1 a{
       
        text-decoration: none;
        color: white;
        
    }
 
 .col2{
       padding-right: 100px;
       text-align: right;
     }
 .col2 p{
     margin-left: 100px;
     font-size: 20px;
     line-height: 2;
     text-align: right;
     margin-right: 20px;
 }
 .col2 a{
 
     padding:15px;
     color: white;
     font-size: 20px;
     text-decoration: none;
     text-align: right;
     line-height: 2;
     margin-right: 5px;
 }

/*--------Cici ------*/
 .footer1 {
    background-color: #0095db;
    width: 100%;
    height: 400px;
    margin: 0px;
    border: 0px;
    padding-top: 150px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 40px;
}
#h22logo {
    height: 105px;
    width: 288px;
    margin-top: 70px;
    margin-left: 20px;

}

#Helsingborglogo {
    width: 109px;
    height: 115px;
    float: right;
    margin-right: 40px;
    margin-top: 70px;
}


/* Footer End -------------------------------------*/
