body {
    margin: 0px;
}

.footer1 {
    background-color: #0095db;
    width: fill;
    height: 200px;
    margin: 0px;
    border: 0px;
    padding-top: 200px;
    padding-right: 50px;
    padding-bottom: 1px;
    padding-left: 40px;
}

#h22logo {
    height: 105px;
    width: 288px;
    
}

#Helsingborglogo {
    widht: 109px;
    height: 115px;
    float: right;


    
}