* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* TOP ---------
-------------- */
#top {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    margin-left: 40%;
}
/* TOP NAV    -----
----------------- */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: rgb(173,173,173);
}
.flex-item:first-child {
    width: 800px;
}

 
.flex-container a {
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
}
.flex-container > div {
    margin: 5px;
    padding: 10px;
    color: white;
    font-family: Verdana;
}
.flex-container a:hover {
    text-decoration: underline;
}
#smal {
    font-family: Arial;
    font-size: small;
}
#div-2-border a {
    border-left:1px solid #bbb;
    padding: 5px;

}

/* HEADER  nav dropdown ---------
----------------------------*/
header {
    background: rgb(255, 255, 255);
    height: 140px;
    box-shadow: 0px 0px 12px 3px rgba(41,41,41,.25);
}
.fix-top {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    margin-top: 0;
    
}
/*--select language-*/
ul {
    list-style-type: none;
    overflow: hidden;
    margin-top: 0px;
    margin-right: 120px;
}
li {
    float: right;
    margin-top: 45px;
}

#language {
    margin-top: 10px;
    height: 30px;
    width: 50px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 3px;
}
/*--dropsdown-*/
li.dropdown {
    display: inline-block;
}
li a, .dropbtn {
    display: inline-block;
    text-decoration: none;
    color:grey;
    padding: 20px 20px;
}
li a:hover, .dropdown:hover .dropbtn {
    color: rgb(115,156,198);
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    display: block;
    text-decoration: none;
    text-align: left;
    color: rgb(115,156,198);
    font-size: small;
}
.dropdown-content a:hover {
    color: rgb(68, 128, 165);
    font-weight: bold;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#dropdown-content-list {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 310px;
    padding-left: 100px;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
