html {
    background: #f5f7f8;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    padding: 20px 0;
  }
  
  .container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
  }
  
  .box {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
      
    box:hover{
      top: -2px;
      box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    }
    
    article {
      padding: 20px;
      flex: 1;
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    h1 {
      font-size: 20px;
      margin: 0;
      color: rgba( 119, 119, 119, 1 )
    }
    
    p {
        flex:1;
        font-size: 18px;
        line-height: 24px;
    }
    
    .button {
      font-size: 12px;
      font-weight: bold;
      color: rgba( 0, 149, 219, 1 );
      text-transform: uppercase;
      letter-spacing: .05em;
      margin: 2em 0 0 0;
    }
    
    .thumb {
      padding-bottom: 60%;
      background-size: cover;
      background-position: center center;
    }
  }
  
  .item-1 {
      }
    }
  }